<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppAbalAT</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContatoController</display-name>
    <servlet-name>ContatoController</servlet-name>
    <servlet-class>controle.ContatoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContatoController</servlet-name>
    <url-pattern>/ContatoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoacaoMonetariaController</display-name>
    <servlet-name>DoacaoMonetariaController</servlet-name>
    <servlet-class>controle.DoacaoMonetariaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoacaoMonetariaController</servlet-name>
    <url-pattern>/DoacaoMonetariaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnderecoController</display-name>
    <servlet-name>EnderecoController</servlet-name>
    <servlet-class>controle.EnderecoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnderecoController</servlet-name>
    <url-pattern>/EnderecoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OficinaController</display-name>
    <servlet-name>OficinaController</servlet-name>
    <servlet-class>controle.OficinaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OficinaController</servlet-name>
    <url-pattern>/OficinaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PessoaFisicaController</display-name>
    <servlet-name>PessoaFisicaController</servlet-name>
    <servlet-class>controle.PessoaFisicaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PessoaFisicaController</servlet-name>
    <url-pattern>/PessoaFisicaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PessoaJuridicaController</display-name>
    <servlet-name>PessoaJuridicaController</servlet-name>
    <servlet-class>controle.PessoaJuridicaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PessoaJuridicaController</servlet-name>
    <url-pattern>/PessoaJuridicaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppController</display-name>
    <servlet-name>AppController</servlet-name>
    <servlet-class>controle.AppController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppController</servlet-name>
    <url-pattern>/AppController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArrecadacaoController</display-name>
    <servlet-name>ArrecadacaoController</servlet-name>
    <servlet-class>controle.ArrecadacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArrecadacaoController</servlet-name>
    <url-pattern>/ArrecadacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controle.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
</web-app>